$gray: rgb(116, 114, 114);

@font-face {
    font-family: morganite1;
    src: url(font/Morganite-ExtraLight.ttf);
}

@font-face {
    font-family: morganite2;
    src: url(font/Morganite-BoldItalic.ttf);
}
@font-face {
    font-family: morganite3;
    src: url(font/Morganite-Black.ttf);
}
@font-face {
    font-family: morganite4;
    src: url(font/Morganite-Medium.ttf);
}
@font-face {
    font-family: oswald;
    src: url(font/Oswald/Oswald-VariableFont_wght.ttf);
}
.headtop{
    width: 100%;
    >header{
        width: 100%;
        height: 120px;
        padding: 20px 50px;
        background-color: rgba(0, 0, 0, 0.628);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        &:hover{
            border-bottom: 4 px solid white;
        }
        >.row{
            border-bottom: 2px solid gray;
            height: 100%;
            width: 100%;
            justify-content: space-between;
           
            >figure{
                height: 50%;
                >img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            >nav{
                width: 70%;
                height:100%;
                >ul{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    >li{
                        height: 100%;
                        width: 20%;
                        padding: 5px 10px;
                        position: relative;
                        &:hover>.dropdown{
                            opacity: 1;
                            visibility: visible;
                        }
                        >.dropdown{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: center;
                            width: 100%;
                            background-color: rgba(0, 0, 0, 0.621);
                            position: absolute;
                            top: 100%;
                            left: 30%;
                            opacity: 0;
                            visibility: hidden;
                            transition: 1s;
                            >li{
                                width: 100%;
                                height: 50px;
                                transition: .4s;
                                &:hover{
                                    border: 1px solid $gray;
                                    >a{
                                        letter-spacing:2px;
                                        color: white;
                                    }
                                }
                                >a{
                                    font-size: 20px;
                                    color: $gray;
                                }
                            }

                        }
                        >*{
                            transition: .4s;
                        }
                        &:hover>*{
                            color: white;
                        }
                        &:hover::after{
                            width: 70px;
                        }
                        &::after{
                            content: '';
                            position: absolute;
                            top: 40px;
                            right: 10px;
                            width: 20px;
                            height: 2px;
                            display: flex;
                            background-color:  rgb(116, 114, 114);
                        }
                        &:hover>a{
                           letter-spacing: 4px;
                        }
                        &:hover>div::after{
                            width: 100%;
                        }
                        >div{
                            height: auto;
                            color: rgb(116, 114, 114);
                            text-align: end;
                            font-size: 20px;
                            
                        }
                        >a{
                            width: 100%;
                            height: 50%;
                            color:  rgb(116, 114, 114);
                            font-size: 20px;
                            justify-content: end;
                            margin-top: 7px;
                            font-size: 20px;

                        }
                    }
                }
            }
        }

    }
    >.row{
        width: 100%;
        height: 80vh;
        padding: 50px;
        justify-content: center;
        position: relative;
        align-content: center;
        margin-top: 200px;
    
        >div{
            width: 30%;
            height: 90%;
            position: absolute;
            top: 0;
            left: 35%;
            &:nth-of-type(1){
                width: 45%;
                background-image: url(img/14.png) ;
                background-size: cover;
                left: 27%;
            }
            &:nth-of-type(2){
                background-image: url(img/1.png) ;
                background-size: cover;
                left: 35%;

            }
            
        }
        >*:not(div){
            position: relative;
            z-index: 1;
            color: white;
            display: flex;
            width: 100%;
            font-family: morganite1;
        }
        >span{
            color: $gray;
            font-size: 30px;
            letter-spacing: 10px;
            justify-content: end;
        }
        >h1{
            font-size: 300px;
            letter-spacing: 15px;
            font-weight: 200;
            font-family: morganite1;
            &:nth-of-type(1){
                justify-content: start;
            }
            &:nth-of-type(2){
                justify-content: end;
            }

        }
        >h2{
            font-size: 45px;
            letter-spacing: 120px;
        }

    }
}

.sec2{
    width: 100%;
    >.row{
        >strong{
            font-family: morganite2;
            color: white;
            font-size: 80px;
            padding: 20px 100px;
            text-transform: capitalize;

        }
        >.row{
            width: 100%;
            justify-content: space-evenly;
            >figure{
                width: 25%;
                position: relative;
                overflow: hidden;
                >img{
                    transition: 1s;
                    
                }
                &:hover>img{
                    transform: translateX(-30px) translateY(-30PX);
                }
                
                &:hover::after{
                    height: 100%;
                    justify-content: center;
                    font-size: 80px;

                }
                &:nth-of-type(1):hover::after{
                    content: 'PARIS';
                }
                &:nth-of-type(2):hover::after{
                    content: 'MADRID';
                }
                &:nth-of-type(3):hover::after{
                    content: 'SPAIN';
                }
                &::after{
                    content:'September 21,2023' ;
                    display: flex;
                    align-items: center;
                    width: 100%;
                    height: 100px;
                    background-color: rgba(2, 2, 2, 0.653);
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    padding: 10px 20px;
                    color: white;
                    font-family: morganite2;
                    font-size: 30px;
                    transition: 1s;
                }
            }
        }
    }
    
}
.sec3{
    width: 100%;
    margin-top: 70px;
    >.row{
        padding: 20px 50px;
        border: 1px solid $gray;
        justify-content: space-evenly;
    
        >figure{
            width: 50%;
            height:90vh;
            >*{
                transition: .4s;
            }
            >marquee{
                width: 0;
                height: 60px;
                background-color: black;
                color: white;
                font-size: 40px;
                letter-spacing: 15px;
            }
            
            &:hover>img{
                height: 90%;
                opacity: 0.6;
            }
            &:hover>marquee{
                width: 100%;

            }

        }
        >.row{
            border-left: 1 px solid $gray;
            width: 40%;
            padding: 100px;
            background-color: white;
            >h3{
                font-size: 70px;
                color: black;
                display: flex;
                width: 100%;
            }

            >div{
                width: 100%;
                height: 60px;
                >a{
                    width: 200px;
                    height: 100%;
                    color: white;
                    background-color: black;
                    font-size: 20px;
                    transition: 1s;
                    &:hover{
                        letter-spacing: 10px;
                        color: black;
                        background-color: white;
                        border: 2px solid gray;
                    }
                }
            }
        }
    }
}
.sec4{
    width: 100%;
    padding: 100px;
    >.row{
        >.row{
            width: 100%;
            &:first-of-type{
                height: 30%;
                justify-content: center;
                margin-bottom: 50px;
                >strong{
                    font-family: morganite2;
                    font-size: 60px;
                    color: white;
                    justify-content: center;

                }
                >p{
                    margin-top: 20px;

                }
            }
            &:last-of-type{
                justify-content: space-evenly;
                padding: 20px;
                border: 1px solid $gray;
                
                >.row{
                    width: 30%;
                    justify-content: start;
                    >.row{
                        width: 100%;
                        height: 50%;
                        >i{
                            color: white;
                            font-size: 50px;
                            display: flex;
                            width: 100%;

                        }
                        >h4{
                            font-size: 40px;
                            color: white;
                            font-family:morganite4 ;
                            letter-spacing: 2px;
                            margin: 10px;

                        }
                    }

                }
                >figure{
                    width: 30%;
                    >img{
                      height: 120%;  
                      transform: translateY(-50px);

                    }
                }
            }
            
        }
    }
}
.sec5{
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    background-image: url(img/9.png);
    background-size: cover;
    >*{
        color: white;
        display: flex;
        width: 100%;
    }
    >.row{
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        >.row{
            padding: 50px 100px;
            height: 70%;
            width: 80%;
            background-color: rgba(152, 150, 150, 0.47);
            justify-content: center;
            transition: 1s;
            opacity: 0;
            transform: translateX(30px);
            
            &:hover{
                opacity: 1;
                transform: translateX(-30px);
            }
            >h4{
                font-size: 60px;
                font-family: morganite2;
            }
            p{
                color: rgb(190, 190, 190);
                text-align: center;
            }
            >div{
                >a{
                    border: 2px solid white;
                    transition: .4s;
                    &:hover{
                        letter-spacing: 2px;
                        color: black;
                        background-color: white;
                        border: 2px solid gray;
                    }
                }
            }
        }
    }
}
.sec6{
    width: 100%;
    
    >.row{
        border-bottom: 1px solid $gray;
        padding: 50px 100px;
        justify-content: space-evenly;
        align-content: space-evenly;
        >.row{
            &:first-of-type{
                >strong{
                    color: white;
                    font-size: 70px;
                    justify-content: center;
                    font-family: morganite2;
                }
                >p{
                    margin: 50px;
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    
                }
            }
            &:last-of-type{
                width: 100%;
                justify-content: space-evenly;
                align-content: space-evenly;
                
                >figure{
                    border-radius: 68% 32% 82% 18% / 47% 76% 24% 53%;
                    width: 40%;
                    overflow: hidden;
                    transition: 1s;
                    &:hover{
                        border-radius: 32% 68% 31% 69% / 54% 58% 42% 46%;
                    }
                }
                >.row{
                    width: 40%;
                    align-content: center;
                    >blockquote{
                        width: 100%;
                        >q{
                            color: $gray;
                            font-size: 20px;
                        }
                    }
                    >strong{
                        color: white;
                        font-size: 50px;
                        font-family: morganite4;
                        letter-spacing: 3px;
                        margin: 30px 0;
        
                    }
                    >span{
                        color: $gray;
                        font-size: 20px;
        
                    }
                }

            }
        }
        
    }
}
.sec7{
    width: 100%;
    >.row{
        padding: 50px 100px;
        >strong{
            color: white;
            font-family: morganite2;
            font-size: 80px;
            justify-content: center;

        }
        >.row{
            width: 100%;
            justify-content: space-between;
            margin: 40px 0;
            >figure{
                width: 30%;
                transition: 1s;
                &:first-of-type{
                    transform: rotateZ(-30deg);
                }
                &:last-of-type{
                    transform: rotateZ(30deg);
                }
                &:hover{
                    transform: rotateZ(0);
                }

            }
        }
    }
}
.sec8{
    margin-top: 100px;
    padding: 20px;
    width: 100%;
    >.row{
        width: 100%;
        >strong{
            color: white;
            font-size: 80px;
            font-family: morganite2;
            justify-content: center;
        }
        >.container{
            margin-top: 50px;
            width: 100%;
            height: 150vh;
            display: grid;
            gap: 20px;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: repeat(10,1fr);
            >div{
                position: relative;
                &:hover::after{
                    height: 100%;
                }
                &:hover>i{
                    opacity: 1;
                    top: calc(50% - 20px);
                }
                &::after{
                    content: '';
                    display: flex;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 0;
                    background-color: rgba(119, 119, 119, 0.434);
                    transition: .4s;
                }
                >i{
                    font-size: 40px;
                    position: absolute;
                    top:0;
                    left: calc(50% - 20px);
                    color: white;
                    opacity: 0;
                    transition: .6s;
                }
                overflow: hidden;
                &:nth-of-type(1){
                    grid-area:1 / 1 /span 5/ span 1 ;
                    

                }
                &:nth-of-type(2){
                    grid-area:1 / 2 /span 3/ span 2 ;
                }
                
                &:nth-of-type(3){
                    grid-area:4 / 2 /span 6/ span 1 ;
                }
                &:nth-of-type(4){
                    grid-area:4 / 3 /span 3/ span 1 ;
                }
                &:nth-of-type(5){
                    grid-area:6 / 1 /span 4/ span 1 ;
                }
                &:nth-of-type(6){
                    grid-area:7 / 3 /span 3/ span 1 ;
                }
            }
        }
     }
    
}
.footer{
    width: 100%;
    >.row{
        justify-content: space-evenly;
        align-items: center;
        >figure{
            width:200px;
            height: 200px;
            overflow: hidden;
            transition: .4s;
            &:hover{
                transform: scale(1.5);
            }
            >img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        >.row{
            width: 30%;
            padding: 10px;
            >li{
                width: 100%;
                padding: 0 10px;
                &:hover>a{
                    color: white;
                    letter-spacing: 2px;
                    >i{
                        color: white;
                    }
                }
                >span{
                    font-size: 40px;
                    color: white;
                    display: flex;
                    width: 100%;
                    border-bottom: 1px solid $gray;
                }
                
                >a{
                    width: 300px;
                    font-size: 20px;
                    color: $gray;
                    display: flex;
                    justify-content: start;
                    >i{
                        font-size: 30px;
                        color: $gray;
                        margin: 0 10px;
    
                    }

                }
            }

        }

    }
}